*{
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #d2d2d2;
    font-size: 16px;
    line-height: 26px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #610d99, #2a4b5e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
}
button{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
li{
    list-style: none;
}
.title{
    color: #2f281e;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;

}
summary{
    cursor: pointer;
}
details{
    margin-bottom: 60px;
}
.scroller{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.popup1{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}

.popup1:target{
    opacity: 1;
    visibility: visible;
}
.popup__title{
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 15px;
}
.popup__area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.popup__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.red{
    color: red;
}
.form__inputs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
textarea{
    width: 100%;
    height: 179px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    padding: 3px 7px;
    resize: none;
}
input{
    height: 40px;
    font-size: 20px;
    margin-bottom: 30px;
    padding: 3px 7px;
}


input, textarea{
    border: 1px solid #000000;
}

input[type=submit]{
    width: 165px;
    height: 40px;
    background: #27AAE2;
    color: #fff;
    margin-right: 0;
    margin-top: 20px;
    cursor: pointer;
    position: absolute;
    bottom: -27px;
    right: 0;
}
.form__btn{
    cursor: pointer;
}
.popup__content{
    background-color: #fff;
    width: 410px;
    min-height: 670px;
    padding: 30px;
    position: relative;
}
.questions{
    line-height: 16px;
}
.popup__close{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 50px;
    text-decoration: none;
    transform: rotate(45deg);
    color: #000;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    margin-top: 5px;
}
.menu{
    margin-left: auto;
}
.menu__list{
    display: flex;
}
.menu__list-item + .menu__list-item{
    margin-left: 24px;
}
.menu__list-link:hover{
    color: #27AAE2;
}
.menu__list-link{
    color: #dadcf6;
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;   
    transition: .3s;
}
.user__nav{
    margin: 0 25px 0 50px;
}
.user__nav-link{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #dadcf6;
    padding: 11px 23px;
    border: 1px solid #bcd0e5;
    border-radius: 4px;

}
.popup__name{
    position: absolute;
    top: 150px;
    left: 30px;
}

.popup__email{
    position: absolute;
    top: 215px;
    left: 30px;
}
.popup__phone{
    position: absolute;
    top: 280px;
    left: 30px;
}

.user__agree{
    position: absolute;
    bottom: 60px;
    left: 30px;
    font-size: 14px;
}
.user__agree-link{
    font-size: 14px;
    text-decoration: none;
    color: #27AAE2;
    cursor: pointer;
}
.popup__textarea{
    position: absolute;
    bottom: 115px;
    right: 53px;
}
.button__block{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 25px;
    right: 42px;
}
.user__nav-link + .user__nav-link{
    margin-left: 14px;
    border-color: transparent;
    background-color: #27AAE2;
    color: #fff;
}

.top__inner{
    padding: 120px 0 120px;
    background-image: url(../images/RegistrIP.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    margin-right: 50px;
}
.top__inner2{
    padding: 120px 0 120px;
    background-image: url(../images/MTSkassa.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    margin-right: 50px;
}
.top__inner3{
    padding: 120px 0 120px;
    background-image: url(../images/raschschet.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    margin-right: 50px;
}
.top__inner4{
    padding: 120px 0 120px;
    background-image: url(../images/ecp.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    margin-right: 50px;
}
.top__title{
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 30px;
    max-width: 518px;
    
}
.top__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
    max-width: 500px;
}
.top__link{
    display: block;
    position: relative;
    color: #fff;
    border-radius: 4px;
    padding: 15px 14px;
    border: none;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    width: 240px;
    text-align: center;
    border: 2px solid #27AAE2;
    overflow: hidden;
    transition: 1s all ease;
}
.top__link::before{
    background: #27AAE2;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
}
.btn1::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.btn1:hover::before{
    height: 380%;
}
.preferenses{
    margin-top: 35px;
}
.preferenses__title{
    text-align: center;
    margin: 0 auto 46px;
    max-width: 539px;
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    padding: 0 10px;
}
.preferenses__inner{
    border-bottom-left-radius:45%;
    border-bottom-right-radius:45%;
    padding-bottom: 90px;
    background: linear-gradient(180deg, rgba(17, 0, 255, 0.0001) 0.33%, rgba(39, 170, 226, 0.629261) 150.67%);
}

.preferenses__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 16px 0;
    margin-bottom: 60px;
}
.preferenses__item{
    max-width: 20%;
    min-width: 131px;
}
.preferenses__item img{
    width: 25%;
    
}
.preferenses__item-img{
    margin-bottom: 30px;
}
.preferenses__item-title{
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    min-height: 66px;
}
.preferenses__item-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    padding-top: 15px;
}
.preferenses__link{
    background-color: #27AAE2;
    display: block;
    color: #fff;
    border-radius: 4px;
    padding: 15px 14px;
    border: none;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    margin: 0 auto;
    width: 240px;
    text-align: center;
}
.card-wrapper{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.card-wrapper-two{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.card{
    width: 300px;
    height: 300px;
    position: relative;
    perspective: 1000px;
    margin: 5px;
}
.card__front, .card__back{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    visibility:visible;
    border-radius: 10px;
}
.card__front{
    z-index: 2;
    background: rgb(2,4,18);
    background: radial-gradient(circle, rgba(2,4,18,0) 0%, rgba(39, 170, 226,0.6895133053221288) 100%);
    
}
.card__back{
    z-index: 1;
    background-color: #c0e6f8;
    transform: rotateY(180deg);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.card:hover .card__front{
    transform: rotateY(180deg);
}
.card:hover .card__back{
    transform: rotateY(360deg);
}
.card__front-img{
    background: transparent;
    border-radius: 10px;
}
.card__back-title{
    max-width: 200px;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
    text-align: center;
}
.card__back-price{
    max-width: 200px;
    font-size: 27px;
    line-height: 35px;
    color: tomato;
    text-align: center;
}
.card__back-link{
    background-color: #27AAE2;
    display: block;
    color: #fff;
    border-radius: 4px;
    padding: 15px 14px;
    border: none;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    margin: 0 auto;
    width: 240px;
    text-align: center;
}
.direction{
    padding: 25px 0;
}
.direction__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.direction__item-image{
    max-width: 45%;
}
.direction__item-image img{
    max-width: 100%;
}
.direction__item-content{
    max-width: 45%;
    padding: 0 30px;
}
.direction__item-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 30px;
}
.direction__item-text{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
}
.direction__item-bank img{
    width: 150px;
    border: 1px solid #27AAE2;
    padding: 5px 6px;
    border-radius: 5px;
    background-color: #dadcf6;
}

.direction__item-price{
    font-size: 24px;
    line-height: 32px;
    color: tomato;
    margin-bottom: 60px;
}
.direction__item-list li{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    padding-top: 15px;
}
.direction__item-list{
    margin-bottom: 30px;
}
.direction__item-sum{
    cursor: pointer;
    margin-bottom: 30px;
}
.direction__item-list-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    padding-top: 15px;
    
}
.direction__item-link{
    background-color: #27AAE2;
    display: block;
    color: #fff;
    border-radius: 4px;
    padding: 15px 14px;
    border: none;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    margin: 0 auto;
    width: 240px;
    text-align: center;
}

.slick-list{
    overflow: hidden;
}
.slick-track{
    display: flex;
}
.top__slider{
    display: block;
}
.top__slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top__slider .slick-dots li{
    margin-top: 15px;
    list-style: none;
}
.top__slider .slick-dots li + li{
    padding-left: 15px;
}
.top__slider .slick-dots button{
    font-size: 0;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 50px;
    outline: none;
}
.top__slider .slick-dots li.slick-active button{
    background-color: #27AAE2;
}
.footer{
    padding-top: 50px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(39,170,226,0.5830707282913166) 100%, rgba(255,255,255,1) 100%);
}
.footer__inner{
    display: flex;
    justify-content: space-around;
}
.rekv, .contacts, .social{
    font-size: 18px;
    color: rgb(13, 7, 39);
}
.social__logo{
    display: flex;
}
.social__logo li{
    margin: 0 5px;
}
.menu__btn{
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    display: none;
}
.menu__btn span{
    display: block;
    height: 2px;
    width: 100%;
    background-color: #000;
}
.menu__btn::after,
.menu__btn::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #000;
    left: 0;
}
.menu__btn::after{
    top: 0;
}
.menu__btn::before{
    bottom: 0;
}